@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cerebri";
  src: url("/CerebriSansBold.ttf");
}

body {
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
